# Requirements.txt version 2019-12-10
jupyter==1.0.0
rise==5.6.1
jupyterthemes==0.20.0
matplotlib==3.1.1
networkx==2.4
numpy==1.16.4
pandas==1.0.1
scipy==1.4.1
scikit-learn==0.22.2
scikit-optimize==0.5.2
